<div class="header-container">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo">
      {{title}}
    </div>
  </div>
</div>

<div class="header-container">
  <nb-actions size="medium" class="right">
    <nb-action>
      <nb-user [nbContextMenu]="userMenu" [name]="'Eve'" [picture]="user?.picture"></nb-user>
    </nb-action>
  </nb-actions>
</div>
