<nb-card>
  <nb-card-header>请输入</nb-card-header>
  <nb-card-body>
    <form #form="ngForm">
      <input nbInput required [(ngModel)]="newName" name="newName">
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danget" (click)="cancel()">取消</button>
    <button nbButton status="success" (click)="submit()" [disabled]="form.invalid">确认</button>
  </nb-card-footer>
</nb-card>
